@import 'variaveis';

.container{
  flex-direction: column;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $preto-transparent-10;
  cursor: pointer;

  &:hover{
    background-color: $preto-transparent-20;
  }

  img{
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
  }
}
