$cor-primaria: #37AB00;
$cor-fundo: #121212;
$cor-fundo2: #242424;
// $cor-fundo: #FBFEF4;
// $cor-fundo2: #FFF;
$fonte: #FFFEFE;


$preto-transparent-70: #000000b3;
$preto-transparent-30: #0000004D;
$preto-transparent-20: #00000033;
$preto-transparent-10: #0000001a;
$preto-transparent-03: #00000008;

$branco-transparent-30: rgba(255, 255, 255, 0.3);



// $branco: $cor-fundo2;
$branco: #FFF;
